h1{ 

    color:rgba(0, 0, 0, 0.719);
    font-family:arial,Verdana, geneva, sans-serif;
     background-color:peachpuff;
     font-size: 30px;
     text-align:center;
p{
    color:black;
    font-family:impact;
     background-color:



}




     }


