h1{ 

    color:rgba(0, 0, 0, 0.719);
    font-family:arial,Verdana, geneva, sans-serif;
     background-color:peachpuff;
     font-size: 50px;
     text-align:center;
}
p{
    color:black;
    font-family:impact;
     background-color:peachpuff;
    font-size: 40px;
    text-align:center;

}

#skol{
    width: 100%;
}


     


